# Firebase Configuration
GOOGLE_APPLICATION_CREDENTIALS="path/to/your/firebase-adminsdk.json"
FIREBASE_PROJECT_ID="your-firebase-project-id"

# ASP.NET Core Configuration
ASPNETCORE_ENVIRONMENT="Development"

# JWT Configuration
JWT_SECRET="super_secret_key_must_be_long_enough_for_hs256_at_least_32_chars"

# Super Admin Configuration
SUPER_ADMIN_EMAIL="admin@architectureai.com"
SUPER_ADMIN_PASSWORD="YourStrongPasswordHere!"
