# Firebase Configuration
GOOGLE_APPLICATION_CREDENTIALS="service-account.json"
FIREBASE_PROJECT_ID="your-project-id"

# ASP.NET Core Configuration
ASPNETCORE_ENVIRONMENT="Development"

# JWT Configuration
JWT_SECRET="your-256-bit-secret-key-here"

# Brevo Configuration
BREVO_API_KEY=""
BREVO_SENDER_NAME="ArchitectureAI"
BREVO_SENDER_EMAIL="olanrewajuranda@gmail.com"
