<?xml version="1.0" encoding="utf-8"?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="Info"
  internalLogFile="internal-nlog.txt"
>
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <!-- the targets to write to -->
  <targets>
    <!-- Single File Target for ALL logs -->
    <target
      xsi:type="File"
      name="logfile"
      fileName="logs/nlog-${shortdate}.log"
      layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
    />
    
    <!--Console Target for hosting lifetime messages (Docker/VS) -->
    <target xsi:type="Console" name="lifetimeConsole">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
        <attribute name="logger" layout="${logger}" />
      </layout>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Output hosting lifetime messages to console for startup detection -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, logfile" final="true" />

    <!-- Catch ALL logs (Microsoft.* + App) and write to single file & console -->
    <!-- We keep console for errors visibility in dev -->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="lifetimeConsole" />
  </rules>
</nlog>
